#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        bksp {
            bindings = <&kp BACKSPACE>;
            key-positions = <16 32>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <16 30>;
        };

        space {
            bindings = <&kp SPACE>;
            key-positions = <17 16>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <16 15>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <15 14>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <23 24>;
        };

        semi {
            bindings = <&kp SEMI>;
            key-positions = <25 24>;
        };

        dbquotes {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <25 26>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <37 24>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <24 39>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <9 25>;
        };

        under {
            bindings = <&kp UNDER>;
            key-positions = <9 23>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <17 15>;
        };

        tilde {
            bindings = <&kp TILDE>;
            key-positions = <14 16>;
        };

        bslh {
            bindings = <&kp BSLH>;
            key-positions = <23 25>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <24 26>;
        };

        one {
            bindings = <&kp NUMBER_1>;
            key-positions = <32 31>;
        };

        two {
            bindings = <&kp NUMBER_2>;
            key-positions = <30 31>;
        };

        three {
            bindings = <&kp NUMBER_3>;
            key-positions = <30 29>;
        };

        four {
            bindings = <&kp N4>;
            key-positions = <29 15>;
        };

        five {
            bindings = <&kp N5>;
            key-positions = <14 30>;
        };

        six {
            bindings = <&kp NUMBER_6>;
            key-positions = <4 3>;
        };

        seven {
            bindings = <&kp N7>;
            key-positions = <3 2>;
        };

        eight {
            bindings = <&kp N8>;
            key-positions = <2 1>;
        };

        nine {
            bindings = <&kp N9>;
            key-positions = <1 15>;
        };

        zero {
            bindings = <&kp N0>;
            key-positions = <14 2>;
        };

        shift1 {
            bindings = <&kp EXCLAMATION>;
            key-positions = <37 38>;
        };

        shift2 {
            bindings = <&kp AT_SIGN>;
            key-positions = <38 39>;
        };

        shift3 {
            bindings = <&kp HASH>;
            key-positions = <40 39>;
        };

        shift4 {
            bindings = <&kp DOLLAR>;
            key-positions = <40 25>;
        };

        shift5 {
            bindings = <&kp PERCENT>;
            key-positions = <39 26>;
        };

        shift6 {
            bindings = <&kp CARET>;
            key-positions = <8 9>;
        };

        shift7 {
            bindings = <&kp AMPERSAND>;
            key-positions = <9 10>;
        };

        shift8 {
            bindings = <&kp ASTERISK>;
            key-positions = <10 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        home {
            display-name = "home";
            bindings = <
&none  &kp Q  &kp W  &kp E  &kp R  &kp T                     &kp UP                &kp Y  &kp U  &kp I      &kp O    &kp P     &none
&none  &kp A  &kp S  &kp D  &kp F  &kp G           &kp LEFT  &kp ENTER  &kp RIGHT  &kp H  &kp J  &kp K      &kp L    &kp SQT   &none
&none  &kp Z  &kp X  &kp C  &kp V  &kp B  &to 0              &kp DOWN              &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &none
                     &none  &none  &none                                           &none  &none  &none
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
        };
    };
};
